
{% extends 'blog/base.html' %}
{% load static %}
{% block body %}

          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">More <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
          </p>
          <div class="jumbotron">

        <!--<a class="btn btn-info" href=""-->
           <!--onclick="window.open('#','_blank','scrollbars=0,resizable=0;width=500');return false" role="button" style="width: 100%">-->
            <!--<span></span>-->
            <!--<span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="font-size: 45px"></span></a>-->
            <h2 style="text-align: center;white-space:nowrap;overflow:hidden;text-overflow: ellipsis">这是关于博主的页面</h2>
              这是关于博主的页面

          </div>

     {% endblock %}