
{% extends 'blog/base.html' %}
{% load static %}
{% block body %}

          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <div class="row">
            <video poster="{{ MEDIA_URL }}{{ article.picture }}" width="100%" controls>
              <source src="{{ MEDIA_URL }}{{ article.video }}" type="video/mp4" p>
              <source src="movie.ogg" type="video/ogg">
              <source src="movie.webm" type="video/webm">
              <object data="movie.mp4" width="100%">
                <embed src="movie.swf" width="100%">
              </object>
            </video>

            </div>
              <h2 style="text-align: center;white-space:nowrap;overflow:hidden;text-overflow: ellipsis">{{ article.title }}</h2>
              {{ article.content|safe }}
          </div>


     {% endblock %}