
{% extends 'blog/base.html' %}
{% load static %}
{% block body %}

          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">More <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
          </p>
          <div class="jumbotron" style="line-height:250%">
        {% if article.video == '0' %}
              {% else %}
        <a class="btn btn-info" href=""
           onclick="window.open('{{ article.video }}','_blank','scrollbars=0,resizable=0;width=500');return false" role="button" style="width: 100%">
            <span></span>
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true" style="font-size: 45px"></span></a>
              {% endif %}

            <h2 style="text-align: center;">{{ article.title }}</h2>
              <p></p>
            <h6 style="text-align: center;">
                <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: darkgray"></span> {{ article.author }}&nbsp;
                <span class="glyphicon glyphicon-time" aria-hidden="true" style="color: darkgray"></span> {{ article.issuedate }}&nbsp;
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="color: darkgray"></span> {{ article.browse_count }}&nbsp;
            </h6>
              {{ article.content|safe }}

          </div>


     {% endblock %}