{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="{% static 'blog/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{% static 'blog/css/offcanvas.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>-->
    <!-- <script src="../../static/blog/js/ie8-responsive-file-warning.js"></script> -->
    <!--<script src="../../static/blog/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>-->
      <!--<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
      <!--<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->
    <!--[endif]-->
  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">丘壑笔记</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'blog:about' %}">博主</a></li>
            {% for nav in navs %}
              {% if nav.Nav_root == null %}
                    <li class="dropdown ">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.nav_name }}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {% for nav2 in navs %}
                          {% if nav2.Nav_root == nav %}
                            <li><a href="{% url 'blog:article_list' nav2.id %}">{{ nav2.nav_name }}</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
              {% block body %}
        {% endblock %}
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">

              {% for right_list in navs %}
                {% if right_list.is_Show == True %}
                      <div class="list-group">
                        <a href="{% url 'blog:article_list' right_list.id %}" class="thumbnail" style="width: 100%">
                          <img src="{{ MEDIA_URL }}{{ right_list.nav_picture.picture }}" alt="..." style="width: 100%">
                        </a>
                      </div>
                {% endif %}
            {% endfor %}


        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../static/blog/js/jquery.min.js"><\/script>')</script>-->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../static/blog/js/ie10-viewport-bug-workaround.js"></script>-->
    <!--<script src="../../static/blog/js/offcanvas.js"></script>-->
    <script src="{% static 'blog/js/offcanvas.js' %}"></script>
  </body>
</html>
