
              <div class="panel panel-info" style="text-align: center">
              <div class="panel-heading"><h3>与我联系</h3></div>
              <div class="panel-body">
                  <p></p>
                  <h5>个人微信公众号</h5>
                  <p></p>
                  <h5>扫码或搜索：<span style="color: red">公众号名称</span></h5>
                  <p></p>
                  <h5>联系博主、技术交流，可在公众号获取</h5>
                  <img src="{{ MEDIA_URL }}blog/about/public.png" alt="钟亮的公众号" class="img-thumbnail" width="250px" height="250px">
                    <p></p>
                  <h5 style="color: red">公众号名称</h5>
                  <p></p>
                  <h5>微信公众号 <span style="color: red">扫一扫关注</span></h5>
              </div>

            </div>